@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background-image: url(images/bg.gif);
	background-repeat: repeat;
}
#main {
	margin-right: auto;
	margin-left: auto;
	width: 900px;
}

#fooer {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0.8em;
	color: #FFF;
	text-align: center;
	line-height: 1.5em;
}
#fooer a {
	color: #FFF;
}
#fooer a:hover {
	color: #FF0;
}
